# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# json files
*.json

# hidden directories
**/.git
**/.vscode
**/.idea
**/.vs
**/.clangd
**/.clang-tidy
**/.ccls-cache
**/.ccls
**/.ccls-cache
**/.dist